---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Section from '../components/Section.astro';
---

<Layout>
  <Header />
  <main class="snap-y snap-mandatory relative w-full h-screen overflow-auto scroll">
    <div class="snap-center">
      <Section title="Disfrute de Tesla" subtitle="Programe una prueba de conducci칩n hoy mismo" color="white" id="main-section">
        <div slot="footer">
          <a class="text-white border-[3px] border-white bg-white/5 backdrop-blur-xl rounded text-sm font-medium px-12 py-2 hover:bg-white hover:text-black transition-colors" href="">Prueba de conducci칩n</a>
        </div>

        <video autoplay muted loop src="/video.webm" class="object-center object-cover h-full w-full" slot="background" ></video>
      </Section>
    </div>

    <div class="snap-center">
      <Section title="Model S" subtitle="Programe una consulta virtual" color="black" id="model-s">
        <div class="flex mx-auto gap-x-4" slot="footer">
          <a
            class="text-white bg-slate-700 border-[3px] border-slate-700 rounded text-sm font-medium px-12 py-2 hover:scale-105 transition-all"
            href=""
          >
          Pedido personalizado
          </a>
          <a
            class="text-black bg-white border-[3px] border-white rounded text-sm font-medium px-12 inline-flex justify-center items-center hover:scale-105 transition-all"
            href=""
          >
          Saber m치s
          </a>
        </div>
        
        <img slot="background" src="/model-s.avif" alt="Model Y" class="h-full w-full object-cover object-center">
      </Section>
    </div>

    <div class="snap-center">
      <Section title="Model 3" subtitle="Programe una consulta virtual" color="black" id="model-3">
        <div class="flex mx-auto gap-x-4" slot="footer">
          <a
            class="text-white bg-slate-700 border-[3px] border-slate-700 rounded text-sm font-medium px-12 py-2 hover:scale-105 transition-all"
            href=""
          >
          Explorar inventario
          </a>
          <a
            class="text-black bg-white border-[3px] border-white rounded text-sm font-medium px-12 inline-flex justify-center items-center hover:scale-105 transition-all"
            href=""
          >
          Pedido personalizado
          </a>
        </div>
        
        <img slot="background" src="/model-3.avif" alt="Model Y" class="h-full w-full object-cover object-center">
      </Section>
    </div>

    <div class="snap-center">
      <Section title="Model X" subtitle="Programe una consulta virtual" color="black" id="model-x">
        <div class="flex mx-auto gap-x-4" slot="footer">
          <a
            class="text-white bg-slate-700 border-[3px] border-slate-700 rounded text-sm font-medium px-12 py-2 hover:scale-105 transition-all"
            href=""
          >
          Explorar inventario
          </a>
          <a
            class="text-black bg-white border-[3px] border-white rounded text-sm font-medium px-12 inline-flex justify-center items-center hover:scale-105 transition-all"
            href=""
          >
          Pedido personalizado
          </a>
        </div>
        
        <img slot="background" src="/model-x.avif" alt="Model Y" class="h-full w-full object-cover object-center">
      </Section>
    </div>

    <div class="snap-center">
      <Section title="Model Y" subtitle="Concertar una prueba de conducci칩n" color="black" id="model-y">
        <div class="flex mx-auto gap-x-4" slot="footer">
          <a
            class="text-white bg-slate-700 border-[3px] border-slate-700 rounded text-sm font-medium px-12 py-2 hover:scale-105 transition-all"
            href=""
          >
          Explorar inventario
          </a>
          <a
            class="text-black bg-white border-[3px] border-white rounded text-sm font-medium px-12 inline-flex justify-center items-center hover:scale-105 transition-all"
            href=""
          >
          Pedido personalizado
          </a>
        </div>
        
        <img slot="background" src="/model-y.avif" alt="Model Y" class="h-full w-full object-cover object-center">
      </Section>
    </div>

    <div class="snap-center">
      <Section title="Solar y Powerwall" subtitle="Energia para todos" color="black" id="powerwall">
        <div class="flex mx-auto gap-x-4" slot="footer">
          <a
            class="text-white bg-slate-700 border-[3px] border-slate-700 rounded text-sm font-medium px-12 py-2 hover:scale-105 transition-all"
            href=""
          >
          Explorar inventario
          </a>
        </div>
        
        <img slot="background" src="/powerwall.avif" alt="Model Y" class="h-full w-full object-cover object-center">
      </Section>
    </div>

    <div class="snap-center">
      <Section title="Accesorios" subtitle="" color="black" id="accessories">
        <div class="flex mx-auto gap-x-4" slot="footer">
          <a
            class="text-white bg-slate-700 border-[3px] border-slate-700 rounded text-sm font-medium px-12 py-2 hover:scale-105 transition-all"
            href=""
          >
          Comprar ahora
          </a>
        </div>
        
        <img slot="background" src="/accessories.avif" alt="Model Y" class="h-full w-full object-cover object-center">
      </Section>
    </div>
  </main>
</Layout>
