---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import MainSection from '../components/MainSection.astro';
---

<Layout>
  <main>
    <Header />

    <MainSection />
  </main>
</Layout>
