---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import MainSection from '../components/MainSection.astro';
---

<Layout>
  <Header />
  <main class="snap-y snap-mandatory relative w-full h-screen overflow-auto">
    <div class="snap-center">
      <MainSection />
    </div>
    <div class="snap-center">
      <MainSection />
    </div>
    <div class="snap-center">
      <MainSection />
    </div>
    <div class="snap-center">
      <MainSection />
    </div>
  </main>
</Layout>
